body {
  background: grey;
}

h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

form {
  margin-bottom: 30px;
}

form input {
  padding: 4px 8px;
  flex-grow: 1;
  margin-right: 16px;
}

button {
  font-size: 16px;
  background-color: rgb(62, 138, 151);
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(173, 47, 28);
}

button:focus {
  outline: 0;
}

button:active {
  background-color: rgb(130, 35, 21);
}

input[type='text'] {
  font-size: 20px;
  font-family: monospace;
}

.todo-list {
  max-width: 500px;
  margin: 60px auto;
}

form,
.todo {
  border: 1px solid rgb(15, 26, 61);
  padding: 10px 20px;
  margin-bottom: 10px;
}

.todo {
  @media (min-width: 772px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.todo input[type='checkbox'] {
  transform: scale(1.8) translateY(1px);
  margin: 0 16px 0 0;
  cursor: pointer;
}

.todo-text input {
  padding: 4px;
}

.todo-text {
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-self: center;
}

.todo-actions {
  margin-top: 10px;

  @media (min-width: 772px) {
    margin-top: 0;
  }
}

.todo-actions button {
  margin-right: 5px;
}

.todo-actions button:last-child {
  margin-right: 0;
}

.completed {
  margin-left: 15px;
}
